# see documentation in config.py

TOM_CORE_HOST="0.0.0.0"
tom_core_port="8000" # this still works
TOM_CORE_LOG_LEVEL="info"

#TOM_CORE_PROJECT_ROOT default is ./services/core/src/tom_core
TOM_CORE_PROJECT_ROOT="../../../.."
TOM_CORE_INVENTORY_FILE="inventory/inventory.yml"
# paths will be joined w/ project_root

TOM_CORE_REDIS_HOST="localhost"  # would be 'redis' when running in docker compose, etc
TOM_CORE_REDIS_PORT="6379"

TOM_CORE_ALLOW_INLINE_CREDENTIALS="true"  # good to keep this False when there are better options
TOM_CORE_AUTH_MODE="api_key"
TOM_CORE_API_KEY_HEADERS="X-API-Key,api-key"  # can also accept json encoded list of strings eg '["X-API-KEY", "api-key", ...]'

TOM_WORKER_LOG_LEVEL="info"
TOM_WORKER_PROJECT_ROOT="../../.."
TOM_WORKER_CREDENTIAL_FILE="inventory/creds.yml"  # for YamlCredentialStore
TOM_WORKER_REDIS_HOST="localhost"
TOM_WORKER_REDIS_PORT="6379"

