# see documentation in config.py

TOM_CORE_HOST="0.0.0.0"
tom_core_port="8000" # this still works
TOM_CORE_LOG_LEVEL="info"

#TOM_CORE_PROJECT_ROOT default is ./services/core/src/tom_core
TOM_CORE_PROJECT_ROOT="../../../.."
# paths will be joined w/ project_root

TOM_CORE_REDIS_HOST="localhost"  # would be 'redis' when running in docker compose, etc
TOM_CORE_REDIS_PORT="6379"

TOM_CORE_ALLOW_INLINE_CREDENTIALS="true"  # good to keep this False when there are better options
TOM_CORE_AUTH_MODE="api_key"
TOM_CORE_API_KEY_HEADERS="X-API-Key,api-key"  # can also accept json encoded list of strings eg '["X-API-KEY", "api-key", ...]'
TOM_CORE_API_KEYS='["abc123:admin", "asldfjaldkf:admin"]'

TOM_WORKER_LOG_LEVEL="info"
TOM_WORKER_PROJECT_ROOT="../../.."
TOM_WORKER_CREDENTIAL_FILE="inventory/creds.yml"  # for YamlCredentialStore
TOM_WORKER_REDIS_HOST="localhost"
TOM_WORKER_REDIS_PORT="6379"

TOM_CORE_INVENTORY_TYPE="yaml"  # or "swis"
TOM_CORE_INVENTORY_FILE="inventory/inventory.yml"

# SWIS / SWAPI
TOM_CORE_SWAPI_HOST='solarwinds.example.com'
TOM_CORE_SWAPI_PORT='17774'
TOM_CORE_SWAPI_USERNAME='swapi_user'
TOM_CORE_SWAPI_PASSWORD='swapi_password'
TOM_CORE_SWAPI_DEFAULT_CRED_NAME='autoUser'

# WORKER SETTINGS

TOM_WORKER_LOG_LEVEL="info"
TOM_WORKER_REDIS_HOST="localhost"
TOM_WORKER_REDIS_PORT="6379"
TOM_WORKER_PROJECT_ROOT="../../.."


# credential settings
TOM_WORKER_CREDENTIAL_STORE="yaml"   # or "vault"
TOM_WORKER_PROJECT_ROOT="../../.."
TOM_WORKER_CREDENTIAL_FILE="inventory/assets.yml"  # yaml type credential store

# settings for hashicorp vault integration
TOM_WORKER_VAULT_URL="http://localhost:8200"  # vault type credential store
TOM_WORKER_VAULT_TOKEN="myroot"  # using 'myroot' is crazy insecure, don't do in prod!
